name: release

on:
  push:
    # Ignore all branches for release
    branches-ignore:
      - "**"
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: "1.24"

    - name: Test
      run: make test

    - name: Setup Ko
      uses: imjasonh/setup-ko@v0.9


    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.ANCHOREINTEGRATIONSWRITE_DH_USERNAME }}
        password: ${{ secrets.ANCHOREINTEGRATIONSWRITE_DH_PAT }}

    - name: Release Container
      run: make release
